
# Docs
docs/

# Dotenv file
.env
packages/backend/node_modules
packages/backend/package-lock.json
package-lock.json
node_modules
packages/backend/.instructions.md
packages/frontend/node_modules
packages/frontend/package-lock.json
packages/frontend/dist
.github
.vscode