# Node modules
**/node_modules/
package-lock.json

# Environment files
**/.env
**/.env.local
**/.env.*

# Foundry artifacts
packages/contracts/lib/
packages/contracts/out/
packages/contracts/cache/
!packages/contracts/broadcast
packages/contracts/broadcast/*/1/
packages/contracts/broadcast/**/dry-run/
packages/contracts/docs/
packages/contracts/test/data

# Noir/Circuit build files
packages/circuit/target/
packages/circuit/proofs/
packages/circuit/combined/target/
packages/circuit/combined/Prover.toml

# Frontend build artifacts
packages/frontend/dist/
packages/frontend/public/deployment.json

# VS Code
.vscode/

# Misc
find_error.js
.DS_Store
.github
.vscode
docs
packages/backend/.instructions.md
anvil-logs.txt
api-logs.txt
.gemini
.superpowers